<!DOCTYPE html>
<html>
<head>
    <title>EmployeeLayout @ViewBag.Name</title>
    <meta charset="utf-8" />
    <meta name="author" content="SKRR" />
    <meta name="description" content="SKRR Description" />
    <meta name="keywords" content="SKRR, SKRR LAYOUT" />
    <meta name="viewport" content="width=device-widh, initial-scale=1.0" />
    <noscript>Javascript is not Supported</noscript>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div><b>This is Header</b></div>
    <h3>_EmployeeLayout</h3>
    @RenderBody()
    <div><b>This is Footer</b></div>
</body>
</html>
@*@{
    ViewBag.Title = "EmployeeLayout";
}

<h2>EmployeeLayout</h2>*@

