
@{
   ViewBag.Title = "_ProductPartial";
}

@*<h2>_ProductPartial</h2>*@

<table class="table table-bordered table-striped">
    <tr><th>Name</th><th>Description</th><th>Price</th></tr>
    <tr><td>Honda CR-V</td><td>Good Vehicle</td><td>$30,000</td></tr>
    <tr><td>MacBook Pro</td><td>Best Laptop</td><td>$3,000</td></tr>
    <tr><td>Iphone 6.5</td><td>Best Phone</td><td>$1,000</td></tr>
</table>