
@{
    ViewBag.Title = "Content";
}
<!DOCTYPE html>
<html>
<head>
    <title>
        3rd Request
    </title>
    <meta charset="utf-8" />
    <meta name="author" content="SKRR" />
    <meta name="description" content="3rdReequest" />
    <meta name="keywords" content="TempData" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <noscript>JavaScript is Not Supported</noscript>
</head>
<body>
    <h2>Content</h2>
    <p>This is TempData Value : @TempData["MyValue"]</p>
</body>
</html>

