
@{
    ViewBag.Title = "Info2";
}
<html>
<head>
    <title>SessionVariable</title>
 <meta charset="utf-8"   />
    <meta name="author" content="SKRR" />
    <meta name="description" content="TempData or Session Variable" />
    <meta name="keywords" content="TempData/Session" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <noscript>JavaScript is not Supported</noscript>
</head>

<body>
    <h2>Info2</h2>

    <p>This is the TempData: @TempData["MyValue"]</p>

</body>
</html>
