<!DOCTYPE Html>
<html>
<head>
    <title>HareKrsna</title>
    <meta charset="utf-8" />
    <meta name="author" content="SKRR" />
    <meta name="description" content="MyPage" />
    <meta name="keywords" content="Html, Html5, CSS, C#MVC" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <noscript>JavaScript is not Supported</noscript>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>
    <div><b>This is Layout Header from Info</b></div>
    <h3>_HomeLayout</h3>
    <h2>Product Info</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>HondaCRV</td>
            <td>Good Vehicle</td>
            <td>$30,000</td>
        </tr>
        <tr>
            <td>MacBookPro</td>
            <td>Good Laptop</td>
            <td>$2,500</td>
        </tr>
        <tr>
            <td>Iphone6.5</td>
            <td>Good Phone</td>
            <td>$1,000</td>
        </tr> 
    </table>

    <h2>Variables</h2>

    <h3>ViewData</h3>
   

</body>
</html>
